<div class="row">
  <div class="col-sm-12 text-center">
<%= link_to "New post", new_post_path, class: "btn btn-primary" %>
<%= link_to "New photo"%>
</div>
</div>
<hr> 

<% @posts.each do |post| %>
	<div class="card">
	<h5 class="card-title"><%= link_to post.title, post_path(post.id) %></li></h5>
  	<li class="list-group-item"><%= raw post.body %></li>
  	<footer class="blockquote-footer">Created at <%= post.created_at %> by <%= post.user.email %>.</footer>
<% end %>

  </ul>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
    <%= will_paginate @posts, :container => false %>
</div>
  </div>